.navigation {
    position: relative;
    &__sidebar {
        position: relative;
        &--backdrop {
            visibility: hidden;
            position: absolute;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background-color: rgba(0, 0, 0, 0);
            z-index: 999;
            transition: all .5s;
            &.activate {
                background-color: rgba(0, 0, 0, 0.65);
                visibility: visible;
            }
        }
        &--button {
            background-color: white;
            left: 1%;
            top: 1%;
            position: fixed;
            width: 5rem;
            height: 5rem;
            border-radius: 30%;
            text-align: center;
            color: black;
            font-size: 3rem;
            line-height: 150%;
            transition: all .5s;
            z-index: 1002;
            &:hover {
                cursor: pointer;
            }
            &.activate {
                left: 26%;
                transform: rotate(-180deg);
                @media (max-width: 900px) {
                    left: 51%;
                }
            }            
        }

        .activate + &--content {
            left: 0;
        }
        &--content {
            z-index: 1000;
            position: absolute;
            width: 25%;
            height: 100vh;
            top: 0;
            left: -30%;
            transition: all .5s;
            background-color: white;
            @media (max-width: 900px) {
                width: 50%;
                left: -50%;
            }
        }
    }
}