$color-quote-box: #ebebeb;


:root {
    --color-background: #b0f59c;
    --color-button: #b0f59c;
    --tiles-color: violet;
}

$tile-color: var(--tiles-color);

* {
    box-sizing: border-box;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

@import 'sidebar';

.container {
    background-color: var(--color-background); //jquery
    min-width: 100vw;
    min-height: 100vh;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    &__quote-box {
        padding: 2rem;
        flex: 0 0 80rem;
        min-height: 30rem;
        background-color: $color-quote-box;
        box-shadow: 1px 1px 10px black;
        border-radius: 2px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @media (max-width: 900px) {
            min-height: 70vh;
            flex: 0 0 80vw;
        }
        &__quote {
            padding-top: 3rem;
            color: black;
            text-align: center;
            .author {
                font-size: 1.6rem;
                padding: 1rem;
                @media (max-width: 600px) {
                    font-size: 1.2rem;
                }
            }
            .quote {
                font-size: 2rem;
                font-style: italic;
                @media (max-width: 600px) {
                    font-size: 1.6rem;
                }
            }
        }
        &-nav {
            display: flex;
            justify-content: center;
            align-items: center;
            .nav-button {
                flex: 0 0 70%;
                padding: .5rem 1rem .5rem 1rem;
                margin: 1rem 2rem 1rem 2rem;
                background-color: var(--color-button);
                transition: all .3s ease-in-out;
                font-size: 2rem;
                border-radius: 2px;
                outline: none;
                border: none;
                &:hover {
                    background-color: red;
                    cursor: pointer;
                    color: white;
                }
            }
        }
    }
}